.highlights {
    grid-column: 1 / span 2;
}

.highlights-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

@media screen and (max-width: 1024px) {
    .highlights {
        grid-column: 1 / span 3;
    }
}

@media screen and (max-width: 640px) {
    .highlights-info {
        grid-template-columns: 1fr;
    }
}

.highlights-info div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1.5rem;
}

.highlights-title {
    font-size: 3rem;
    font-weight: 800;
    color: var(--very-grayish-blue);
    width: 90%;
}

.highlights-description {
    word-spacing: 10px;
    font-weight: 500;
    color: var(--dark-grayish-blue);
}

.highlights-button {
    display: inline-block;
    margin-right: auto;
    font-family: inherit;
    text-transform: uppercase;
    background-color: var(--soft-red);
    color: var(--off-white);
    font-weight: 700;
    font-size: 1rem;
    padding: 1em 2.5em;
    letter-spacing: 3px;
    transition: 0.3s;
}

.highlights-button:hover {
    cursor: pointer;
    color: var(--off-white);
    background-color: var(--very-grayish-blue);
}